<div class="row mt-2 mb-2">
    <div class="col-12">

        <div class="row">
            <div class="col-12">
                <h1>Tareas pendientes</h1>
                @for(task of taskListPending; track task; let index = $index){
                <app-task [task]="task" [index]="index" (remove)="removeTask($event)"
                    (complete)="completeTask($event)" />

                } @empty {
                <span class="d-block">!Felicidades¡ no tienes tareas pendientes</span>
                }

                @if(showInputTask){
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="añade aqui una tarea" #taskInput>
                    <button class="btn btn-outline-secondary" type="button" (click)="createTask(taskInput.value)">
                        <i class="bi bi-plus"></i>
                        <span>Añadir</span>
                    </button>
                </div>

                }@else {
                <button class="btn btn-primary mb-2 mt-2" (click)="showInputTextTask()">
                    <i class="bi bi-plus"></i>
                    <span>Añadir tarea</span>
                </button>
                }
                @if (errorInputTask) {
                <div class="alert alert-danger" role="alert">
                    ¡La tarea no puede estar vacia!
                </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1>Tareas completadas</h1>

                <button class="btn btn-primary mt-2 mb-2" (click)="toggleShowComplete()">
                    @if (showCompleted) {
                    <i class="bi bi-eye-slash"></i>
                    <span>
                        Ocultar tareas completadas
                    </span>
                    }@else{
                    <i class="bi bi-eye "></i>
                    <span>
                        Mostrartareas completadas
                    </span>
                    }
                </button>
                @if (showCompleted) {
                @for(task of taskListCompleted; track task){
                <app-task [task]="task" />

                } @empty {
                <span class="d-block">No tienes tareas completadas</span>
                }
                }
            </div>
        </div>


    </div>
</div>